<!-- <div class="main">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia repudiandae odit obcaecati debitis, delectus, eum, perferendis maiores magnam ullam itaque exercitationem aliquam omnis sapiente eius recusandae quaerat quod. Aliquid, sunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor corporis facere, ullam commodi laudantium natus numquam repellat, nihil aperiam odit veritatis sequi quos. Ipsum aliquid nihil, id iusto inventore incidunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quasi dolore dolorum quas incidunt quae nisi, numquam quam natus quaerat, sit cupiditate dignissimos aliquam asperiores! Voluptatem tempore, laborum inventore magni.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio vero maiores quia a quis minima similique suscipit, illum repellat modi enim odio quidem eaque repudiandae ea. Doloremque repellendus voluptates maiores!
		<div class="inner">
			Absolute
			<div class="sub-inner"></div>
		</div>
	</div>


	<div></div> Blokinio tipo - display: block;
	<span><a href="#">Tekstas</a></span>

	<ul>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<ol>
		<li><a href="#">Tekstas</a></li>
		<li></li>
		<li></li>
	</ol>

	<h1><a href="#">Tekstas</a></h1>
	<h6></h6>

	<p></p>

	<img src="">

	<a href="#">Tekstas</a>

	<form>
		<input type="text" name="">
		<input type="number" name="">
		<button></button>
	</form>

	<table>
		<thead>
			<tr>
				<th>Link</th>
				<th>Text</th>
				<th>Number</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="#">Tekstas</a></td>
				<td>Text</td>
				<td>Number</td>
			</tr>
		</tbody>
	</table>

	JS PHP API - Application Programming Interface
	Google maps

	<iframe src="https://www.15min.lt/"></iframe>

	<video>
		<source src="" type="">
	</video>

	<b></b>
	<strong></strong>

	<i></i>
	<em></em>

	<br>
	<hr>

	<q></q>
	<del></del>
	<sub></sub>
	<sup></sup>
	<mark></mark> -->
	

	<!-- Media queries -->
	<!-- <div class="main-block">
		<div class="small-inner"></div>
		<div class="small-inner"></div>
		<div class="small-inner"></div>
	</div> -->