/* 
	0. Isidekite reset.css (optional)
	
	1. box-sizing - border-box|content-box Box Model (CSS)
	2. display - inline, inline-block, block
	3. display - flex|grid (optional|modern)
	4. float - savybe
	5. position - relative, absolute ir fixed
	6. Matavimo vienetai: px ir %
	7. rem, em, vw, vh (kai ismoksit tvarkingai su px ir %)
	8. Selektoriai: * . # p
	.klase p
	.klase > p 
	9. .klase:hover (active,link, visited,hover, focus) - pseudo klases
	10. .klase::before (before, after, selection, first-line, first-letter)



	11. first-child, last-child, nth-child
	12. responsive
	

	
 */

body {
	background-color: beige;
	height: 2000px;

}

p {
	
}

* {
	box-sizing: border-box;
}

.deze {
	display: inline-block;

	display:  flex;
	align-items: center;
	justify-content: center;
}

.main {
	/* Per visa plota, bet aukstis 0 */
	height: 100%;
	width: 100%;
	border: 10px solid black;
	position: relative;
}

.inner {
	position: absolute;
	
	width: 50%; /* 250px */
	/* height: 100px; */
	background-color: lightcoral;

	/* Galima naudoti:  */
	top: 50px;
	bottom: 50px;
	left: 50%;
	
	/* Galimas z-index su absolute ir fixed */
	z-index: -1;
}

.sub-inner {
	position:  absolute;
	width:  50%;
	height:  50px;
	border: 5px solid green;

	bottom: 0;
}

input[type=text] {

}

input[type=number] {
	
}

/* Responsive */

.main-block {
	width: 1200px;
	padding: 50px;
	background-color: white;
	margin: 0 auto;
}

.small-inner {
	width: 30%;
	height: 250px;

	border: 5px solid red;
	display: inline-block;
}

/* 480px, 768px, 990px, 1200px */

@media (min-width: 1200px) {
	/* Nuo 1200px - begalybes */

}

@media (max-width: 1200px) {
	/* 0 - 1200px */
	.main-block {
		width: 990px;
	}

	.small-inner {
		width: 45%;
		display: none;
	}


}


@media (max-width: 990px) {
	/* 0 - 990px */
	.main-block {
		width: 95%;
	}

	.small-inner {
		width: 100%;
		font-size:  24px;
	}
}


